body{
background: rgba(76,76,76,1);
}
#calc_wrapper{
  position:relative;
  top:180px;
  left:42%;
}
#calculator{
  border:1px solid #969593;
  border-radius:5px;
  width:30%;
  width:300px;
  color:#767271;
  background-color:#DFDFDD;
-webkit-box-shadow: -3px 15px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -3px 15px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -3px 15px 10px 0px rgba(50, 50, 50, 0.75);
;
  font-family:Sans-serif;

}
#display_wrapper{
  height:50px;
  margin:5%;
  margin-bottom:8%;
}
#display{
  height:100%;
  background-color:#343434;
  border:1px solid #DFDFDD;
  border-radius:3.5px;
  color:white;
  text-align:right;
  line-height:50px;
  font-size:32px;
  padding:2%;
}
#number_panel{
  display:inline-block;
  width:75%;
  margin-bottom:5%;
}
.num_buttons{
  list-style-type:none;
  margin:0;
  padding:0;
  padding-left:7%;  
}
.num_buttons li{
  display:inline-block;
  height:35px;
  width:25%;
  margin:4% 4% 2% 0;
  line-height:35px;
  border:1px solid #A9A5A4;
  border-radius:3px;
  font-weight:bold;
  text-align:center;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  cursor:pointer;
}

#operator_panel{
display:inline-block;
  width:15%;

}
.op_buttons{
  list-style-type:none;
  margin:0;
  padding:0;
}

.op_buttons li{
  display:block;
  height:35px;
  width:100%;
  margin-top:28%;
  padding-left:0;
  margin-left:0;
  line-height:35px;
  border:1px solid #A9A5A4;
  border-radius:3px;
  font-weight:bold;
  text-align:center;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  cursor:pointer;

}

#functions_panel{
  display:block;
}
.fun_buttons{
  list-style-type:none;
  margin-bottom:1%;
  margin-left:-8%;
  
}
.fun_buttons li{
  display:inline-block;
  border:1px solid #A9A5A4;
  border-radius:3px;
  height:35px;
  width:42%;
  line-height:35px;
  margin-right:2.5%;
  font-weight:bold;
  text-align:center;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  cursor:pointer;

}